<h1>Here is your list of recipes</h1>
<ul class='posts-list'>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to  do %>
        <%= render 'partials/recipe_card', recipe: recipe %>
      <% end %>
      <%= button_to 'Delete recipe', "/recipes/#{recipe.id}", method: :delete %>
    </li>
  <% end %>
</ul>
<%= link_to new_recipe_path  do %>
  <button class='add-recipe-button'>ADD A NEW RECIPE</button>
<% end %>