<div class='recipe-card'>
  <h2><%= recipe.name %></h2>
  <h3>Prepration time (minutes):<%= recipe.preparation_time %> - Cooking time (minutes):<%= recipe.cooking_time %></h3>
  <p>description: <%= recipe.description %></p>
</div>