<h1> New Recipe food </h1>

<h1> New Recipe food </h1>

<%= form_with(model: @food, url: recipe_recipe_foods_url) do |f| %>
    <%= f.label :Quantity %>
    <%= f.number_field :Quantity %>
    <%= f.submit %>
<% end %>
