table {
  border: 1px solid black;
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  height: 30px;
  background-color: gray;
  color: white;
}

td {
  border-inline: 1px solid silver;
  height: 30px;
}

.recipe-head {
  font-size: 40px;
  text-align: center;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  clear: both;
  margin-bottom: 40px;
}

.recipe-info p {
  font-weight: bold;
  margin: 10px;
}

.recipe-form {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
}

form.recipe-form {
  align-items: baseline;
}

.form-group {
  display: contents;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

td.action {
  text-align: center;
}

td.action form {
  display: inline-block;
}

.btn_recipe_state.true {
  width: 50px;
  height: 20px;
  background-image: linear-gradient(to right, green 70%, silver 70%);
}

.btn_recipe_state.false {
  width: 50px;
  height: 20px;
  background-image: linear-gradient(to right, silver 30%, red 30%);
}

.toggle_container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
